<!-- FOOTER -->
<div class="footer-clip"></div>

<footer>
    <div class="container">
        <div class="mx-auto center">
            <div class="row align-items-start">
                <div class="col-lg-4 col-md-10 col-sm-10 item">
                    <h3>Despre noi:</h3>
                    <p>
                        Infiintata in anul 2002,in Dorohoi, compania ECOMED a pornit cu un singur laborator de analize medicale si 3 angajati. 
                        Dupa doi ani, ECOMED vine aproape de pacientii din Botosani prin deschiderea Centrului Medical din Piata Revolutiei nr.11.
                    </p>
                </div>
                <br>
                
                <div class="col-lg-4 col-md-10 col-sm-10 item">
                    <h3>Rezultate online:</h3>
                    <p>
                        Apasati pe unul din butoanele de mai jos pentru a accesa paginile de rezultate:
                    </p>
                    <a href="" class="custom-button -green"> Rezultate pacienti </a>
                    <a href="" class="custom-button -blue"> Rezultate medici </a>
                    <!-- <a href="">
                        <div class="custom-button -blue">
                            <p>Rezultate pacienti</p>
                        </div>
                    </a>
                    <br>
                    <a href="">
                        <div class="custom-button -blue">
                            <p>Rezultate medici</p>
                        </div>
                    </a> -->
                    
                </div>
                <br>
                <div class="col-lg-4 col-md-10 col-sm-10 item">
                    
                    <h3>Urmariti-ne:</h3>
                    <p>
                        Puteti sa ne urmariti pe urmatoarele retele:
                    </p>
                    <a href="#"><i class="icon-lg ion-social-facebook"></i></a>
                </div>
                <br>
            </div>
        </div>
    </div>
</footer>
<div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2021 Designed by Sebastian Ionel.</p>
    </div>
  </div>
<!-- /FOOTER -->